<% include ../partials/header%>

<div class="container">
  <div class="row">
    <h1 style="text-align:center;">Add a New Comment to <%=music.name%></h1>
    <div style="width: 30%; margin: 25px auto;">
    <form class="" action="/musics/<%=music._id%>/comments/new" method="post">
      <div class="form-group">
        <input class="form-control"type="text" name="text" placeholder="text">
      </div>

      <button class="btn btn-lg btn-primary btn-block"type="submit">Submit!</button>
    </form>
    <a href="/musics/<%=music._id%>">Back</a>
    </div>

  </div>

</div>


<% include ../partials/footer%>
